body{
   margin: 0.05vw;
}

header{
    position: relative;
}
.head_back{
    position:absolute;
    height: 17vw;
    width: 100%;
    top: 0vw;
    background: linear-gradient(to right,darkred, brown, darkorange, orange, gold);
    overflow: hidden;
}


.head{    
    height: 17vw;
    background: linear-gradient(to right,rgb(1, 1, 80), rgb(4, 106, 207),rgb(4, 4, 73));
    clip-path: polygon(0 0, 100% 0, 100% 100%,  0 80%);
}

.hlogo{
    position: absolute;
    width: 10vw;
    margin: 2vw;
    top: -0.25;
    filter: drop-shadow(0.2vw 0.2vw );
    left: 1.5vw;
}
.address{
    font-size: 3.5vw;
    font-weight: 800;
    color: white;
    position: absolute;
    left: 15.5vw;
    top: 3vw;
    font-family: "Dancing Script";
    text-shadow: 0.25vw 0.25vw 0.25vw rgb(5, 5, 5);
    /* transform: scaleY(1.2); */
}
.ar_address{
    position: absolute;
    padding-left: 1.5vw;
    border-radius: 3vw;
    text-align: left;
    height: 3.25vw;
    width: 30vw;
    left: 18vw;
    top: 1.5vw;
    color: white;
    font-weight: 800;
    font-size: 2vw;
    font-family:"Harmattan";
    color: gold;
    text-shadow: 0.1vw 0.1vw 0.1vw black;
}
nav{
    position: absolute;
    top: 4vw;
    height: 3vw;
    z-index: 3;
    width: 65vw;
    right: -16vw;
    /* background:linear-gradient(to right , rgb(43, 42, 42), transparent 120%); */
   
}
.item{
    line-height: 1.5;
    height: 2.75vw;
    width: max-content;
    letter-spacing: 0.15vw;
    font-size: 1.85vw;
    font-family: "Courgette";
    text-align:center;
    display: inline-block;
    color: white;
    text-shadow: 0.1vw 0.1vw 0.1vw black;
    margin-right: 1.75vw;
}

.item:hover{
color: gold;
border-bottom: 0.4vw solid gold;
 } 
main{
    position: relative;
    height: 57vw;
    width: 97vw;
    top: -0.03vw;
    background-image: url(images/intro.png);
    background-size: 100% 100%;
    /* opacity: 94%; */
    border-radius: 0vw 0vw 0vw 0vw;
    overflow: hidden;
}

.intro{
    position: absolute;
    width: 20vw;
    height: 5vw;
    background-color: gold;
    top: 10vw;
    right: 8vw; 
    transition: 1s all;
    border-radius: 3vw;
    z-index: 2;
    
}

.start{
    z-index: 3;
    position: absolute;
    width: 20vw;
    height: 5vw;
    top: 10vw;
    right: 8vw;
    text-align: center;
    font-size: 4vw;
    line-height: 1.15;
    font-family:"Dancing Script" ;  
    overflow:hidden;
    transition: 1.25s all;
}
.speech{
    position:absolute;
    width: 35vw;
    height: 100vw;
    background: url(images/speech.png);
    background-size: 100% 100%;
    left: 2.5vw;
    top: 45vw;
    filter: drop-shadow(0.1vw 0.1vw);
    z-index: 4;
}
.intro:hover{
    height: 43vw;
    opacity: 30%;
    width: 42vw;
    right: 2vw;
}
.start:hover{
    height: 43vw;
    width: 42vw;
    right: 2vw;
    overflow:hidden;
}
.start:hover > span{
    opacity: 0%;
}
.start:hover + div{
    opacity: 30%;
}
.add{
    transition: 1.5s all;
}
@keyframes spch{
    0%{top:44vw;}
    100%{top: -100vw;} 
}
.start:hover > div{
animation: spch 90s linear infinite;
}
.start:hover + div{
    height: 43vw;
    width: 40vw;
    right: 4vw;
} 

section{ 
    position: relative;
    height: 60vw;
    width: 97vw;
    top:9vw;
    text-align:center;
    overflow: hidden;
    background: linear-gradient(transparent 10%, rgb(233, 232, 232) 10% 70%, transparent 70%);
}

.blink{
    width:12vw;
    height: 14vw;
    background: rgb(2, 119, 139);
    position: absolute;
    top: 0vw;
    left: 0vw;
    animation: msk 8s linear infinite;
}
@keyframes msk{
    0%{width:0vw; background: cornflowerblue;}
    60%{width: 80vw;background: blue;}
    85%{width:80vw; background: blue;}
    100%{width:0vw; background: cornflowerblue;}
}
.books_title{
    height: 5vw;
    width: 90vw;
    position: absolute;
    background: rgb(252, 251, 251);
    left: 3vw;
    top: 9.5vw;
    -webkit-mask: url(images/btitle.png) center/60% 50% no-repeat;
    mask: url(images/btitle.png) center/60% 50% no-repeat;
}

.prdcts{
position: absolute;
width: 93vw;
right: 0vw;
top: 13vw;
}
.html,.svg,.css3-1,.css3-2{
    position: relative;
    top: 5vw;
    display: inline-block;
    width: 21.5vw;
    height: 39vw;
    margin-right: 0.85vw; 
    overflow: hidden;  
    background:rgb(243, 242, 242);; 
    background-size: 100% 75%;
    background-position: top;
    left: -1.5vw;  
    background-repeat: no-repeat;
    box-shadow: 0.1vw 0.1vw 0.1vw grey;
}
.html{
    background-image: url(images/HTML.jpg);
}
.svg{
    background-image: url(images/SVG.jpg);
}
.css3-1{
    background-image: url(images/CSS3-1.jpg);
}
.css3-2{
    background-image: url(images/CSS3-2.jpg);
    overflow: hidden;
}
.instruct{
    position: absolute;
    height: 9vw;
    width: 22vw;
    padding: 0.5vw;
    box-sizing: border-box;
    top: 29.25vw;
    left: 0.5vw;
    color: grey;
    background: rgb(243, 242, 242);
    z-index: 4;
    font-family:"Noto Sans Arabic";
    font-size: 1.30vw;
    font-weight: 800;
}
.show_html{
    position: absolute;
    width: 23.1vw;
    height: 29.25vw;
    background: rgb(250, 221, 199);
    left: 24vw;
    transition: 1s 0.35s all;
}
.html:hover > div{
 transform: translate(-24vw);
 z-index: 2;
}
.status{
    position: absolute;
    width: 23vw;
    height: 30vw;
    right: 0vw;
    top: 0vw;
}
.index{
    position: absolute;
width: 7.5vw;
right: 8vw;
top: 19.5vw;
}
.sample{
    position: absolute;
width: 6vw;
right: 8.5vw;
top: 23vw;
}
.show_svg{
    position: absolute;
    width: 23vw;
    height: 29.55vw;
    background: rgb(208, 248, 208);
    top: -32vw;
    transition: 1s 0.35s all;
}
.svg:hover > div{
 transform: translateY(31.75vw);
 z-index: 2;
}
.show_css3-1{
    position: absolute;
    width: 23vw;
    height: 29.25vw;
    background: rgb(171, 228, 247);
    left: 0vw;
    top: -0vw;
    transition: 1s 0.35s all;
    transform: rotate(-90deg);
    transform-origin: 0px 0px;
}
.css3-1:hover > div{
 transform: rotate(0deg);
 z-index: 2;
}
.show_css3-2{
    position: absolute;
    width: 23vw;
    height: 29.25vw;
    background: rgb(171, 228, 247);
    left: 0vw;
    transform: scale(0);
    transition: 1s 0.35s all;

}
.css3-2:hover > div{
 transform: scale(1);
 left: 0vw;
 z-index: 2;
}
.p_list{
    position: relative;
    font-size: 5vw;
    height: 55vw;
    top: 16vw;
    border-radius: 5vw 0vw 5vw 0vw;
}
.price{
    position: absolute;
    font-size: 5vw;
    height: 50vw;
    width: 98vw;
    background-size: 110% 100%;
    background-repeat: no-repeat;
    background: linear-gradient(-27deg ,rgb(205, 222, 247) 50%,rgb(227, 237, 250) 50%);
    top: 5vw;
    right: 0vw;
    border-radius: 5vw 0vw 5vw 0vw;
}

.list{
    position: absolute;
    width: 38vw;
    height: 33vw;
    top: 17.1vw;
    background:url(images/list.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5vw 0vw;
    right:0vw;
    overflow: hidden;
}
.glimmer{
    width:2vw;
    height: 70vw;
    position: relative;
    background: lightblue;
    transform: rotate(45deg);
    top: -35vw;
    left: -5vw;
    opacity: 10%;
    animation: glm 9s linear infinite;
}
@keyframes glm{
    0%{top: -40vw; left: 5vw;}
    10%{top: -40vw; left: 5vw;}
    50%{top: 16vw; left: 30vw;}
    90%{top: -40vw; left: 5vw;}
    100%{top: -40vw; left: 5vw;}
}
.price_title{
    color: darkred;
    position: absolute;
    right: 34vw;
    font-family: "Great Vibes";
    line-height: 11.5vw;
    top: 3.5vw;
    letter-spacing: 0.5vw;
    font-size: 7vw;
    text-shadow: 0.1vw 0.1vw 0.1vw;
    animation: skl 8s alternate infinite;
}
@keyframes skl{
  0%{transform: scale(1.1) rotate(-2deg);}
  25%{transform: scale(0.90) rotate(6deg);}
  50%{transform:  scale(1.1) rotate(-2deg);}
  75%{transform:  scale(0.90) rotate(6deg);}
 100%{transform:  scale(1.1) rotate(-2deg);}
}
.books_col{
    position: absolute;
    height: 47vw;
    width: 66vw;
    background: url(images/books.png) center/85% 70%;
    background-repeat: no-repeat;
    top: 9vw;
    left: -3vw;
    filter: drop-shadow(0.1vw 0.1vw 0.3vw)
}
.o_book{
    position: absolute;
    height: 30vw;
    width: 40vw;
    background: url(images/open1.png) center/85% 70%;
    background-repeat: no-repeat;
    top: 15vw;
    left: 12vw;
    filter: drop-shadow(0.1vw 0.1vw 0.3vw);
    animation: op 3s linear infinite;
}
@keyframes op{
    0%{background: url(images/open1.png) center/85% 70% no-repeat; }
    20%{background: url(images/open2.png) center/85% 70%  no-repeat;}  
    40%{background: url(images/open3.png) center/85% 70%  no-repeat;}
    60%{background: url(images/open4.png) center/85% 70% no-repeat;}
    80%{background: url(images/open5.png) center/85% 70% no-repeat;}
    100%{background: url(images/open1.png) center/85% 70% no-repeat; }
}

footer{
    position: relative;
    height: 57vw;
    font-weight: bold;
    top: 16vw;
}
/* .aside_buy{
    position: absolute;
    left: 0vw;
    width: 21.75vw;
    top: 0vw;
    height: 52vw;
} */
.y_tri{
    height: 25vw;
    background: rgb(2, 114, 86);
    width: 98vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
    clip-path: polygon(0 0, 100% 0, 85% 90%, 0 55%);
    animation: tri 6s alternate infinite;
}
@keyframes tri{
    0%{clip-path: polygon(0 0, 100% 0,100% 0, 100% 90%, 0 55%)}
    25%{clip-path: polygon(0 0, 100% 0,100% 0, 100% 90%, 0 55%)}
    75%{clip-path: polygon(0 0, 100% 0,100% 55%, 0 90%, 0 0)}
    100%{clip-path: polygon(0 0, 100% 0,100% 55%, 0 90%, 0 0)}
}
.foot{
    position: absolute;
    width: 98vw;
    height: 48vw;
    top: 5vw;
    right:0vw;
    font-weight: 800;
    padding: 2vw 0vw;
    background: rgb(230, 253, 236);
}
.footer_address{
    width: 60vw;
    background-image: linear-gradient( rgb(173, 250, 189) 50%, rgb(108, 209, 142) 50% );
    background-position: top center;
    height: 5vw;
    position: absolute;
    left: 22vw;
    top: 4vw;
    -webkit-mask: url(images/Buy.png) center/100% 100%;
    mask: url(images/Buy.png) center/100% 100%;
    animation: old 3s linear infinite;
}

.footer_message{
    font-family: "Capriola";
    font-size: 2.5vw; 
    position:absolute;
    color: white ;
    top:11vw;
    left: 24vw;
    text-shadow: 0.1vw 0.1vw 0.1vw black;
}
.face, .mail{
    font-size:1.75vw;
}
.face:visited{
    color: blue;
}
.links{
    position: absolute;
    padding-top: 1vw;
    width: 30vw;
    height: 12.5vw;
    color: blue;
    background: linear-gradient(to right, rgb(187, 250, 187), rgb(85, 236, 85));
    font-family:"Kanit";
    right: 33vw;
    line-height: 3.5vw;
    border-radius:  0vw 5vw  5vw;
    top: 25vw;
    box-shadow: 0.1vw 0.1vw 0.3vw darkgreen;
}

.pin{
    position: absolute;
    width: 7vw;
    top: -1vw;
    left: 1.5vw;
    transform: rotate(-50deg);
}
.logo{
    position: absolute;
    width: 30vw;
    top: 42vw;
    right: 31.5vw;
    /* filter: drop-shadow(0.1vw -0.11vw 0.1vw black) ; */
}
.buy_ico{
    margin-right: 3vw;
    width: 5vw;
    transform: skewY(10deg);
}
.mlogo{
    position: absolute;
    width: 8vw;
    left: 7vw;
    top:3vw;
    filter: drop-shadow(0.1vw 0.1vw 0.05vw);
}
.dlv{
    position: absolute;
    width: 25vw;
    height: 15vw;
    right: 2vw;
    top: 33vw;
    background: url(images/delivery.png) center/100% 100%; 
}

.wlt{
    position: absolute;
    width: 20vw;
    height: 15vw;
    left: 4vw;
    top: 34vw;
    background: url(images/wallet.png) center/100% 100%;
    filter:drop-shadow(0.1vw 0.1vw 0.2vw) ;
}
article{
    padding-top: 10vw;
    position: relative;
    height:40vw;
    top:59vw;
    /* background: rgb(241, 240, 240); */
    overflow: hidden;
}
.in_back{
    position: absolute;
    width: 42vw;
    height: 42vw;
    background: white;
    right: -10vw;
    top: 20vw;
    clip-path: circle(45%);
    animation: crcl 6s alternate infinite;
}
.in_pink{
    position: absolute;
    width: 45vw;
    height: 45vw;
    background: rgb(250, 180, 74);
    right: -9vw;
    top: 13vw;
    clip-path: circle(50%); 
}
@keyframes crcl{
    0%{clip-path: circle(50%); top: 13vw;right: -8vw;}
    50%{clip-path: circle(50%); top: 13vw;right: -8vw;}
    90%{clip-path: circle(5%); top: 25vw;right: -25vw;}
    100%{clip-path: circle(5%); top: 25vw;right: -25vw;}
}
.in{
 position: absolute;
 top: -7vw;
 right: 8vw;
 font-size: 3.5vw;
 font-family: "Paprika";
}
.adv{
    position: absolute;
    height: 40vw;
    width: 33vw;
    /* background: lightblue; */
    left:61vw;
    top: 25vw;
    line-height: 1.5;
    font-size: 2.25vw;
    font-family: "Markazi Text";
    font-weight: bold;
    /* animation: ar_intro 5s alternate infinite;  */

}
@keyframes ar_intro{
    0%{left: 76vw; top: 0w; transform: scale(0);}
    15%{left: 76vw; top: 0vw; transform: scale(0);}
    35%{left: 61vw; top:12vw;transform: scale(1);}
    100%{left: 61vw; top: 12vw;transform: scale(1);}
}
.vid{
    position: absolute;
    top: 14.25vw;
    /* width: 60vw;
    height: 40vw;
   box-shadow: 0.1vw 0.1vw 0.1vw;
     left: 2vw;
     */
}

@keyframes an_c{
    from{width: 0vw; height: 0vw;}
    to{width: 20vw; height: 20vw;opacity: 0;}
}
.contacts{
    height: 18vw;
    width: 97vw;
    position: relative;
    background-color: black;
    background-image: linear-gradient(to right, black -5%, transparent ), url(images/footer_back.jpg);
    background-position:  right center;
    background-size: 40% 100%;
    background-repeat: no-repeat;
    top: 74vw;
    color: white;
    padding: 1vw;
    font-size: 2.5vw;
    font-family: "itim";
}
.contacts a:any-link{
    color:yellow;
}
.ml, .fcbk{
    color: yellow;
    position: relative;
    left: 13vw;
    font-size:2vw;
}
.dis{
    color: orange;
    position: absolute;
    left: 14vw;
    font-size: 1.5vw;
    top: 12vw;
}